@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

/* Header style */

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}


.headernav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    align-items: baseline;
}

.infinity {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 13px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.headerul {
    margin-top: 14px;
    margin-bottom: 30px;
}

.headerul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    margin-right: 20px;
    margin-left: 20px;
    letter-spacing: 2px;
}

.headerul li {
    list-style: none;
    display: inline-block;
}

.headerul li a:hover {
    color: #D43C67;
    cursor: pointer;
}

/* End of header */

/* Main */

/* boxes */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.maindiv {
    background-color: gray;
    width: 200px;
    height: 250px;
    border: 2px solid greenyellow;
    border-radius: 8%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    margin-right: 30px;
}

.maindiv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.maindiv h2 {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.maindiv a {
    display: flex;
    justify-content: center;
}
/* End of boxes */

/* Rules */

.section1 {
    border: 3px solid salmon;
    border-radius: 15px;
    margin: 20px 50px 40px;
    display: flex;
}

.p1 {
    font-size: 30px;
    display: inline-block;
    margin-top: 170px;
    margin-left: 50px;
    
}

span {
    height: 300px;
    border-right: 3px solid seagreen;
    margin-left: 50px;
    display: inline-block;
    margin-top: 50px;
}

ol {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    display: inline-block;
}
ol li {
    line-height: 30px;
}

/* End of rules */

/* End of main */

/* Footer */

.footernav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footerul {
    margin-top: 40px;
    margin-bottom: 20px;
}

.footerul li a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    margin-right: 20px;
    margin-left: 20px;
    letter-spacing: 2px;
}

.footerul li {
    list-style: none;
    display: inline-block;
}

.footerul li a:hover {
    color: #D43C67;
    cursor: pointer;
}

.p28 {
    text-align: center;
    display: flex;
    justify-content: center; 
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    margin-bottom: 40px;
}


.p28 a {
    text-decoration: none;
    color: black;
}

.p28 a:hover {
    color: #D43C67;
    cursor: pointer;   
}

/* End of footer */

/* Responsive */

@media screen and (max-width: 700px) {

    .headernav {
        display: flex;
        justify-content: flex-start;
    }
    
    .headerul {
        margin-top: 50px;
        margin-left: 0px;
    }
    
    .headerul li {
        list-style: none;
        display: block;
        margin-left: 0px;
    }
    
    .footernav {
        display: flex;
        justify-content: flex-start;
    }
    
    .footerul {
        margin-top: 50px;
        margin-left: 0px;
    }
    
    .footerul li {
        list-style: none;
        display: block;
        margin-left: 0px;
    }
    
    }
    
@media screen and (max-width:500px) {

.section1 {
    display: block;
}

.p1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

span {
    display: none;
}

ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-left: 20px;
}

.p28 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

}

/* End of responsive */